.white-text{
    color: white !important;
}

.slider-cc {
    width: 100% !important;
    margin: 0 auto !important;
}

.promo-cc{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cu-logo-cc {
    width: 50% !important;
}

